.popup {
    border: 1px solid;
    width: 400px;
    position: absolute;
    top: 100px;
    right: 50%;
    padding: 2em;
    background-color: #FFF;
}

.alert:empty {
    display: none;
}



.status {
    color: red;
     font-weight: bold;
}

.status.OK {
  color: green;
}

.params {
  font-weight: bold;
}



.popup {
  z-index: 10;
}

a[data-toggle="collapse"]:before {
  content: "-";
  width: 10px;
  display: inline-block;
}
a[data-toggle="collapse"].collapsed:before {
  content: "+";
}
a[data-toggle="collapse"]:hover {
  text-decoration: none;
}
a[data-toggle="collapse"] {
  color: #666;
}


body {
  background-color: #eee;
}

.nav-pills {
  margin: 10px 0;
}

.nav-pills li.active a:hover {
  background-color: #fff;
  color: #DD4B39;
}

.nav-pills li a {
  padding: 5px 10px;
  margin-right: 5px;
  color: #999;
}

.nav-pills li.active a {
  background-color: #fff;
  color: #DD4B39;

}

textarea {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  height: 150px;
}

.btn {
  margin: 10px 0;
}

.entity {
  background-color: #fff;
  margin: 10px 0;
}

.entity > p {
  margin: 10px;
}

.entity > p:first-child {
  padding-top: 10px;
}

.action-widget {
padding: 0 10px;
}

.result {
border-top: 5px solid #eee;
margin: 0 -10px;
padding: 10px 10px 0 10px;
}

.action-link {
  margin-bottom: 10px;
}

.debug {
  color: #666;
  padding: 0 0 10px 0;
margin: 0;
font-style: italic;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

circle:hover+text {
  opacity: 1.0;
  font-weight: bold;
}

circle+text {
 opacity: .4;
}
