.popup {
    border: 1px solid;
    width: 400px;
    position: absolute;
    top: 100px;
    right: 50%;
    padding: 2em;
    background-color: #FFF;
}

.alert:empty {
    display: none;
}



.status {
    color: red;
     font-weight: bold;
}

.status.OK {
  color: green;
}

.params {
  font-weight: bold;
}



.popup {
  z-index: 10;
}

a[data-toggle="collapse"]:before {
  content: "-";
  width: 10px;
  display: inline-block;
}
a[data-toggle="collapse"].collapsed:before {
  content: "+";
}
a[data-toggle="collapse"]:hover {
  text-decoration: none;
}
a[data-toggle="collapse"] {
  color: #666;
}


body {
  background-color: #eee;
}

.nav-pills {
  margin: 10px 0;
}

.nav-pills li.active a:hover {
  background-color: #fff;
  color: #DD4B39;
}

.nav-pills li a {
  padding: 5px 10px;
  margin-right: 5px;
  color: #999;
}

.nav-pills li.active a {
  background-color: #fff;
  color: #DD4B39;

}

textarea {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  height: 150px;
}

.btn {
  margin: 10px 0;
}

.entity {
  background-color: #fff;
  margin: 10px 0;
}

.entity > p,
.entity-content > p {
  margin: 10px;
}

.entity > p:first-child,
.entity-content > p:first-child {
  padding-top: 10px;
}

.action-widget {
padding: 0 10px;
}

.log {
border-top: 5px solid #eee;
padding: 10px 10px 0 10px;
background-color: #fff;
}

.log:empty {
  background-color: #eee;
}

.action-link {
  margin: 0 10px 10px 0;
}

.debug,
.sending {
  color: #666;
  padding: 0 0 10px 0;
margin: 0;
font-style: italic;
}

.debug {
  font-size: 80%;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

circle+text:hover,
circle:hover+text {
  opacity: 1.0;
  font-weight: bold;
}

circle+text {
 opacity: .3;
}

#graph-modal .modal-dialog {
  width: auto;
  margin: 30px;
}

.graph-details {
  float: left;
  position: absolute;
}

.action-link {
  -webkit-transition: background-color 2s, border-color 2s, color: 2s;
  transition: background-color 2s, border-color 2s, color: 2s;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}


line+text:hover,
line:hover+text,
circle+text:hover,
circle:hover+text {
  opacity: 1.0;
  font-weight: bold;
}

line+text,
circle+text {
 opacity: .3;
}

.glink:hover .link,
.link:hover {
  stroke: #000;
  stroke-opacity: 1.0;
}

#graph-modal .modal-dialog {
  width: auto;
  margin: 30px;
}

.graph-details {
  float: left;
  position: absolute;
}

.action-link {
  -webkit-transition: background-color 2s, border-color 2s, color: 2s;
  transition: background-color 2s, border-color 2s, color: 2s;
}