.popup {
    border: 1px solid;
    width: 400px;
    position: absolute;
    top: 100px;
    right: 50%;
    padding: 2em;
    background-color: #FFF;
}

.alert:empty {
    display: none;
}



.status {
    color: red;
     font-weight: bold;
}

.status.OK {
  color: green;
}

.params {
  font-weight: bold;
}

#provider-url {
    width: 300px;
}

