<!DOCTYPE html>
<html>
<head>
  <title>Test Actions</title>
  <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="less/css/bootstrap.css">
  <link rel="stylesheet" href="css/codemirror.css">
  <link rel="stylesheet" href="css/prettify.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="map-appname">Test Actions</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li class="active"><a href="#html-input-tab" data-toggle="tab">HTML</a></li>
          <li><a href="#url-input-tab" data-toggle="tab">URL</a></li>
          <li><a href="#feed-input-tab" data-toggle="tab">Merchant Feed</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="html-input-tab">
            <textarea rows="4" id="code" placeholder="Paste html here"></textarea>
            <button id="parse" class="btn btn-primary">Parse</button>
          </div>
          <div class="tab-pane" id="url-input-tab">
            <textarea rows="4" id="provider-url" placeholder="Resource page url">http://localhost:8080/example/places.html</textarea>
            <button id="fetch" class="btn btn-primary">Crawl</button>
          </div>
          <div class="tab-pane" id="feed-input-tab">
            <textarea rows="4" id="feed-content" placeholder="RSS feed content"></textarea>
            <button id="parse-feed" class="btn btn-primary">Parse</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="alert alert-danger" id="validation-errors"></p>
        <div id="entities-section" style="display: none;">
          <a class="" data-toggle="collapse" data-target="#entities-list">
            Recognized actions
          </a>
          <div id="entities-list" class="in">
            <div id="entities"></div>
          </div>
        </div>
        <div id="raw-results">
          <a class="collapsed" data-toggle="collapse" data-target="#raw">
            Raw entities
          </a>
          <div id="raw" class="collapse">
            <pre id="entities-log" class="prettyprint lang-html linenums"></pre>
          </div><br>
          <a class="collapsed" data-toggle="collapse" data-target="#graph-raw">
            Recognized entity graph
          </a>
          <div id="graph-raw" class="collapse">
            <pre id="graph-log" class="prettyprint lang-html linenums"></pre>
            <button id="graph-render" class="btn btn-primary" data-toggle="modal" data-target="#graph-modal">Visualize</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="test"></div>
  <!-- Modal -->
  <div class="modal fade" id="graph-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div id="graph"><div>
        </div>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="/js/libs/jsonld.js"></script>

  <script src="/js/libs/d3.v3.min.js" charset="utf-8"></script>


  <script type="text/javascript" src="js/libs/codemirror-compressed.js"></script>
  <script type="text/javascript" src="/js/libs/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/libs/prettify.js"></script>
  <script type="text/javascript" src="/js/libs/mustache.js"></script>
  <script type="text/javascript" src="/js/graph.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>

  <script type="text/javascript">
var graph = [
    {
      "@type": "http://schema.org/Menu",
      "http://schema.org/name": "My awesome menu!",
      "@id": "_:Ne8d99955421e4d9ab431dce391028e4e",
      "http://schema.org/menuItem": {
        "@id": "file:///restaurants/123/menu/1"
      }
    },
    {
      "@type": "http://schema.org/SupportedClass",
      "@id": "_:N45638441b5ab49f7bd4cbabf91c18093",
      "http://schema.org/supportedProperty": "http://schema.org/name",
      "http://schema.org/subClassOf": "Person"
    },
    {
      "@type": "http://schema.org/SupportedClass",
      "@id": "_:N6c89237672a643fd8a53e793fd1ecdf7",
      "http://schema.org/subClassOf": "Order"
    },
    {
      "@type": "http://schema.org/SupportedClass",
      "@id": "_:N55c3bb69beb842c88ac62280ea7889f1",
      "http://schema.org/supportedProperty": [
        "http://schema.org/addressRegion",
        "http://schema.org/streetAddress",
        "http://schema.org/postalCode",
        "http://schema.org/addressLocality"
      ],
      "http://schema.org/subClassOf": "PostalAddress"
    },
    {
      "@type": "http://schema.org/SupportedProperty",
      "http://schema.org/rangeIncludes": {
        "@id": "_:N55c3bb69beb842c88ac62280ea7889f1"
      },
      "http://schema.org/occurs": "One-or-Zero",
      "@id": "_:Ndd37d3707de046b0a71eb897fe5bb53a",
      "http://schema.org/property": "http://schema.org/deliveryAddress"
    },
    {
      "@type": "http://schema.org/CreateAction",
      "http://schema.org/expects": {
        "@id": "_:N7415c50b173c4838a9bf998b073974e7"
      },
      "@id": "_:N9e73bc4d7f1e4393afe2b1dfc5f8cfc2",
      "http://schema.org/actionHandler": {
        "@id": "_:Neb1c3d6286064b16946f51e6226cc02f"
      },
      "http://schema.org/actionStatus": "proposed"
    },
    {
      "@type": "http://schema.org/SupportedProperty",
      "http://schema.org/occurs": "One-or-Zero",
      "@id": "_:N7912be988dd940b886ef3579568d4fd4",
      "http://schema.org/property": "http://schema.org/discountCode"
    },
    {
      "@type": "http://schema.org/HttpHandler",
      "http://schema.org/name": "Quotes orders",
      "@id": "_:Nc586d873b2ee46dfbed3efd0b7265393"
    },
    {
      "http://schema.org/operation": [
        {
          "@id": "_:N67dd525ba47c445cbcf0c28a3836f824"
        },
        {
          "@id": "_:N9e73bc4d7f1e4393afe2b1dfc5f8cfc2"
        }
      ],
      "@type": "http://schema.org/ItemList",
      "http://schema.org/name": "Online Orders",
      "@id": "http://code.sgo.to/restaurants/123/orders"
    },
    {
      "@type": "http://schema.org/HttpHandler",
      "http://schema.org/name": "Orders food from this restaurant. Check out the schema here http://www.w3.org/wiki/images/d/d4/Schema.org_Orders_Proposal_2013-04-19.pdf",
      "@id": "_:Neb1c3d6286064b16946f51e6226cc02f"
    },
    {
      "@type": "http://schema.org/supportedClass",
      "@id": "_:N04b1e2dfb7aa41058de3652733a2581e",
      "http://schema.org/supportedProperty": [
        {
          "@id": "_:N6d13e7be75004bf696855d71669d434d"
        },
        {
          "@id": "_:Nf1ccab52f181438aa712ce381f5c72bb"
        },
        {
          "@id": "_:N7912be988dd940b886ef3579568d4fd4"
        },
        {
          "@id": "_:Ndd37d3707de046b0a71eb897fe5bb53a"
        },
        {
          "@id": "_:N62c1be84f38c4ab9a85cf74fee1b54d3"
        }
      ],
      "http://schema.org/subClassOf": "Order"
    },
    {
      "@type": "http://schema.org/SupportedProperty",
      "http://schema.org/rangeIncludes": {
        "@id": "_:N04b1e2dfb7aa41058de3652733a2581e"
      },
      "@id": "_:Nbbc25beff6fb4a6fa17bb7beb62a1878",
      "http://schema.org/property": "http://schema.org/object"
    },
    {
      "@type": "http://schema.org/SupportedProperty",
      "http://schema.org/rangeIncludes": {
        "@id": "_:N43b38f34bc514ddd8e6095d6cf4d9c85"
      },
      "http://schema.org/occurs": "Zero-or-Many",
      "@id": "_:N6d13e7be75004bf696855d71669d434d",
      "http://schema.org/property": "http://schema.org/orderedItem"
    },
    {
      "@type": "http://schema.org/SupportedProperty",
      "http://schema.org/rangeIncludes": {
        "@id": "_:N6c89237672a643fd8a53e793fd1ecdf7"
      },
      "http://schema.org/occurs": "Exactly-One",
      "@id": "_:Nc24692278f8d4de1aae9e09e85ef964d",
      "http://schema.org/property": "http://schema.org/object"
    },
    {
      "@type": "http://schema.org/ReviewAction",
      "@id": "file:///home/ewag/projects/devrel/ActionsSandbox/aaa",
      "http://schema.org/actionHandler": {
        "@id": "_:N35fe1f140bfb4c76980518ea0f0c2246"
      },
      "http://schema.org/actionStatus": "proposed"
    },
    {
      "@type": "http://schema.org/ItemList",
      "@id": "file:///restaurants/123/reservations"
    },
    {
      "@type": "http://schema.org/SupportedClass",
      "@id": "_:N43b38f34bc514ddd8e6095d6cf4d9c85",
      "http://schema.org/supportedProperty": {
        "@id": "_:N88fcb27811194fd38d04bb32ecf750cf"
      },
      "http://schema.org/subClassOf": "Product"
    },
    {
      "@type": "http://schema.org/HttpHandler",
      "http://schema.org/url": "http://googleknowledge.github.io/ActionsSamples/restaurant.html",
      "http://schema.org/name": "Review this restaurant",
      "@id": "_:N35fe1f140bfb4c76980518ea0f0c2246",
      "http://schema.org/httpMethod": "get"
    },
    {
      "@type": "http://schema.org/SupportedProperty",
      "http://schema.org/rangeIncludes": {
        "@id": "_:N45638441b5ab49f7bd4cbabf91c18093"
      },
      "http://schema.org/occurs": "Exactly-One",
      "@id": "_:N62c1be84f38c4ab9a85cf74fee1b54d3",
      "http://schema.org/property": "http://schema.org/customer"
    },
    {
      "@type": "http://schema.org/QuoteAction",
      "http://schema.org/url": "/restaurants/123/orders/quotes",
      "@id": "_:N67dd525ba47c445cbcf0c28a3836f824",
      "http://schema.org/actionStatus": "proposed",
      "http://schema.org/expects": {
        "@id": "_:Nc24692278f8d4de1aae9e09e85ef964d"
      },
      "http://schema.org/actionHandler": {
        "@id": "_:Nc586d873b2ee46dfbed3efd0b7265393"
      }
    },
    {
      "@type": "http://schema.org/SupportedProperty",
      "http://schema.org/occurs": "Exactly-One",
      "@id": "_:N88fcb27811194fd38d04bb32ecf750cf",
      "http://schema.org/property": "http://schema.org/id"
    },
    {
      "@type": "http://schema.org/Restaurant",
      "http://schema.org/name": "Sam's Pizza Place",
      "@id": "file:///examples/restaurant.html",
      "http://schema.org/reservations": {
        "@id": "file:///restaurants/123/reservations"
      },
      "http://schema.org/operation": {
        "@id": "file:///home/ewag/projects/devrel/ActionsSandbox/aaa"
      },
      "http://schema.org/cuisine": "pizzeria",
      "http://schema.org/orders": {
        "@id": "http://code.sgo.to/restaurants/123/orders"
      },
      "http://schema.org/menu": {
        "@id": "_:Ne8d99955421e4d9ab431dce391028e4e"
      }
    },
    {
      "@type": "http://schema.org/SupportedClass",
      "@id": "_:N7415c50b173c4838a9bf998b073974e7",
      "http://schema.org/supportedProperty": {
        "@id": "_:Nbbc25beff6fb4a6fa17bb7beb62a1878"
      }
    },
    {
      "@type": "http://schema.org/SupportedProperty",
      "http://schema.org/occurs": "One-or-Zero",
      "@id": "_:Nf1ccab52f181438aa712ce381f5c72bb",
      "http://schema.org/property": "http://schema.org/deliveryMethod"
    }
  ]
  //renderGraph(graph, '#test')

  </script>


</body>
</html>



