
<html>

<head>

  <script type="application/ld+json">
{"@context":"http://schema.org","@type":"Movie","@id":"/organizations/123/movies/123","name":"Dan's schema.org presentation","operation":[{"@type":"WatchAction","actionStatus":"proposed","actionHandler":[{"@type":"WebPageHandler","name":"Watch Dan's schema.org presentation!","httpMethod":"post"}]}]}
  </script>

</head>

<body>
<pre>
{
 "@context": "http://schema.org",
 "@type": "Movie",
 "@id": "/organizations/123/movies/123",
 "name": "Dan's schema.org presentation",
 "operation": [
  {
   "@type": "WatchAction",
   "actionStatus": "proposed",
   "actionHandler": [
    {
     "@type": "WebPageHandler",
     "name": "Watch Dan's schema.org presentation!",
     "httpMethod": "post"
    }
   ]
  }
 ]
}
</pre>
</body>
</html>