
<html>

<head>



</head>

<body>

<div vocab="http://schema.org/" typeof="Event">
  <a href="nba-miami-philidelphia-game3.html" property="url">
  NBA Eastern Conference First Round Playoff Tickets:
  <span property="name"> Miami Heat at Philadelphia 76ers - Game 3 (Home Game 1) </span>
  </a>

  <meta content="2016-04-21T20:00" property="startDate"/>
    Thu, 04/21/16
    8:00 p.m.

  <div typeof="Place" property="location">
    <a href="wells-fargo-center.html" property="url">
    Wells Fargo Center
    </a>
    <div typeof="PostalAddress" property="address">
      <span property="addressLocality">Philadelphia</span>,
      <span property="addressRegion">PA</span>
    </div>
  </div>

  <div typeof="AggregateOffer" property="offers">
    Priced from: <span property="lowPrice">$35</span>
    <span property="offerCount">1938</span> tickets left
  </div>
</div>

</body>
</html>