
<html>

<head>

  <script type="application/ld+json">
{"@context":"http://schema.org","@type":"MusicRecording","@id":"/songs/123","name":"This Years Love","operation":{"@type":"ListenAction","actionStatus":"proposed","actionHandler":[{"@type":"WebPageHandler","name":"Listen to this song!","httpMethod":"post"}]}}
  </script>

</head>

<body>
<pre>
{
 "@context": "http://schema.org",
 "@type": "MusicRecording",
 "@id": "/songs/123",
 "name": "This Years Love",
 "operation": {
  "@type": "ListenAction",
  "actionStatus": "proposed",
  "actionHandler": [
   {
    "@type": "WebPageHandler",
    "name": "Listen to this song!",
    "httpMethod": "post"
   }
  ]
 }
}
</pre>
</body>
</html>